/* Global Styles */
body {
    font-family: 'URW Chancery L', 'cursive';
    color: #304897; /* Set a default text color */
    margin: 0;
    padding: 0;
    background-image: url('../assets/images/tall_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #304897; /* Specific color for headings */
    font-family: 'URW Chancery L', 'cursive'; /* Ensure headings use the same font */
    margin: 0.5em 0;
}

p {
    color: #304897; /* Specific color for paragraphs */
    font-family: 'URW Chancery L', 'cursive'; /* Ensure paragraphs use the same font */
    margin: 0.5em 0;
}

/* Header and Button Styles */
header {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.rsvp-button {
    background-color: #304897; /* Button color */
    color: #ffffff; /* Text color */
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
}

.rsvp-button:hover {
    background-color: #FACA98; /* Darken on hover */
}

img {
    max-width: 60%;
    height: auto;
    margin-top: 1em;
}

/* Content Section Styles */
.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 2em 0;
    padding: 1em;
}

.reverse-section {
    flex-direction: row-reverse; /* Reverses the order of child elements */
}

.image-container, .text-container {
    flex: 1;
    padding: 1em;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Specific Image Sizes for Sections */
#section1-image {
    width: 50%; /* Adjust width for the first section image */
    max-width: 400px; /* Optional: Set a maximum width */
}

#section2-image {
    width: 60%; /* Adjust width for the second section image */
    max-width: 300px; /* Optional: Set a maximum width */
}

#section3-image {
    width: 70%; /* Adjust width for the third section image */
    max-width: 350px; /* Optional: Set a maximum width */
}